.nice-looking-form {
    background-color: #f0f8ff;
    border: 2px solid lightblue;
    padding: 20px;
    max-width: 55%;
    margin: auto;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 12px 0 rgb(52, 65, 70);
}

.nice-looking-form input{
    padding: 8px;
    border: 1px solid #dfdfdf;
    border-bottom: 2px solid #a3a3a3;
    align-items: center;
    border-radius: 8px;
}

.nice-looking-form select{
    padding: 8px;
    border: 1px solid #dfdfdf;
    border-bottom: 2px solid #a3a3a3;
    align-items: center;
    border-radius: 8px;
}

.illegal-center-tag {
    border: 2px solid lightskyblue;
    padding-top: 30px;
    margin-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
    margin: auto;
    background-color: #e6faff;
    font-family: "Asap", sans-serif;
    font-weight: bold;
}

header {
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.67);
}

footer {
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: -10px;
}

video {
    border: 2px solid #000;
    border-radius: 15px;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #000;
    border: 1px solid lightgray;
}