.nice-looking-form {
    background-color: #f0f8ff;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 20px;
    max-width: 55%;
    margin: auto;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 12px 0 rgb(52, 65, 70);
}

header {
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.67);
}

footer {
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
    width:100%;
}